mixin orders(order)

    .bookings
        ul
            li=`Order ref: ${order._id}`
            each data in order.movie_data
                li=`Movie: ${data.movie_name}`
                li=`Genre: ${data.genre}`
                li=`Starts: ${order.order_details.night_of_rent}`
                li=`Nights: ${order.order_details.number_of_nights}`