mixin orders(order)

    .bookings
        ul
            li=`Order ref: ${order._id}`
            each data in order.movie_data
                li=`Movie: ${data.movie_name}`
                li=`Genre: ${data.genre}`
                li=`Departure: ${data.order_details.dateOfDeparture}`
                li=`Nights: ${data.order_details.duration}`
                li=`Guests: ${data.order_details.numberOfGuests}`